/media/
/.env
# Keep sample env files in source control
!.env.example
.env.local
.env.*.local
Pipfile.lock
/staticfiles_build/
/venv
db.sqlite3
*.pyc
**/__pycache__/
env/
venv/
.DS_Store
Thumbs.db
*.log
bin/
dist/
coverage.out
*.out
*.test
