@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color: #fff;
    --black-color: #000000;
    --hover-color: #0000ff98;
    --button-color: #ffe3ffC2;
    --button-color: #5c5eddc2;
    --dash-color: #eee;
}

body{
    background: var(--button-color);
    /* position: relative; */
    /* overflow: hidden; */
}

.container{
    display: flex;
}

nav{
    height: 100vh;
    background: var(--white-color);
    width: 250px;
    overflow: hidden;
    position: fixed;
    left: 0;
    /* box-shadow: 0 5px 10px var(--hover-color); */
}
 
.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    width: 25px;
    height: 35px;
}

.dash-logo span{
    font-size: 17px;
}

.dash-nav a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 14px;
    display: table;
    width: 250px;
    padding: 25px;
} 

nav .fas{
    width: 70px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    margin-left: 10px;
}

.dash-nav a:hover{
    background: var(--dash-color);
}

.eyes{
    font-size: .8em; 
}

.logout{
    margin-top: 160px;
}

/* Main section */
.main{
    position: absolute;
    left: 250px;
    padding: 20px;
    width: 60%;
}

.main-top{
    /* position: fixed; */
    margin-bottom: 40px;
}
.circular-container {
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Ensures content doesn't overflow the circular container */
    border: 2px solid #ccc; /* Optional: Add border */
    position: fixed;
    top: 20px; /* Adjust the distance from the top */
    right: 20px; /* Adjust the distance from the right */
    z-index: 999; /* Ensure it's on top of other elements */
}

.circular-container img {
    width: 100%; /* Ensures the image fills the container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Prevents extra space at the bottom */
}

.cards{
    width: 127%;
    margin: 60px 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}


.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 500px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}

.cards .card-details h2{
    margin: 10px;
}

.cards .card-details p{
    /* margin: 10px; */
    padding: 0 20px;
    max-width: 100%;
    /* border: 2px solid gold; */
}

.cards .card-details a{
    font-size: 12px;
}

.cards .card-details button{
    background: var(--hover-color);
    color: var(--white-color);
    padding: 7px 15px;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

.cards .card-details button:hover{
    /* border: .1px solid var(--black-color);
    font-size: 13px; */
    background: var(--button-color);
    color: var(--black-color);
    cursor: pointer;
}

.cards .card-details i{
    font-size: 22px;
    padding: 10px ;
}

/* BOTTOM CARDS */
.bottom-card{
    margin-top: 70px;
}

.bottom-card-box{
    width: 130%;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
}

.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    gap: 10px;
} 

.bottom-box-details {
    width: 33%;
    height: 120px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    /* box-shadow: 0 10px 35px var(--black-color); */

}

.bottom-box-details p{
    font-size: 12px; 
    margin-top: 5px;
}

.bottom-box-details button{
    background: var(--black-color);
    color: var(--white-color);
    padding: 7px 10px;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.bottom-box-details button:hover{
    background: var(--white-color);
    color: var(--hover-color);
}


/* transaction history */
.text-area{
    margin: auto;
    width: 900px;
    height: 120px;
    border: none;
    /* display: none; */
}

.trans-history-details{
    display: none;
}

/* overlay */

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.548);
    display: none;
    z-index: 2;
    height: 100%;
}

/* popup */

.popup{
    width: 400px;
    height: 30%;
    background-color: var(--white-color);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.popup .fas{
    background-color: var(--black-color);
    width: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--white-color);
    position: absolute;
    right: 5%;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-20%, -50%) scale(1);
}


.popup p{
    margin-top: 30px;
    margin-bottom: 40px;
}


#popup-deposit input{
    margin-top: 50px;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.popup p{
    margin-top: 50px;
    margin-bottom: 40px;
}


#popup-transfer input{
    margin-top: 30px;
    width: 200px;
    padding: 10px;
}


.popup-transfer p{
    margin-top: 50px;
    margin-bottom: 40px;
}


#popup-withdraw input{
    margin-top: 50px;
    width: 200px;
    padding: 10px;
}


.popup-withdraw p{
    margin-top: 50px;
    margin-bottom: 40px;
}



















































/* MEDIA QUERY */
@media (max-width: 1024px){
nav{
    height: 100vh;
    background: var(--white-color);
    width: 200px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 15px;
}

/* Main section */
.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

/* .main-top{
    position: fixed;
} */

.cards{
    width: 200px;
    margin: 70px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}


.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 150px;
    margin: 6px;
    border-radius: 20px;
    padding: 10px 20px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}

/* BOTTOM CARDS */
.bottom-card{
    margin-top: 70px;
}

.bottom-card-box{
    width: 125%;
    height: 200px;
    padding: 15px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card .bottom-card-details{
    display: flex;
    gap: 5px;
} 

.bottom-box-details {
    width: 35%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    /* box-shadow: 0 10px 35px var(--black-color); */

}

.bottom-box-details button{
    background: var(--black-color);
    color: var(--white-color);
    padding: 7px 10px;
    border-radius: 15px;
    margin-top: 25px;
    cursor: pointer;
}

/* transaction history */
.text-area{
    margin: auto;
    width: 650px;
    height: 120px;
    border: none;
    /* display: none; */
}
}

/* @media (max-width: 850px){ */
@media (max-width: 885px){

nav{
    height: 100vh;
    background: var(--white-color);
    width: 180px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0px 0 0 -10px;
}

.dash-logo img{
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 15px;
}

/* Main section */
.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 65%;
}

/* .main-top{
    position: fixed;
} */

.cards{
    width: 200px;
    margin: 70px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}


.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 140px;
    margin: 6px;
    border-radius: 20px;
    padding: 10px 20px;
    background: var(--white-color);
    font-size: 15px;
    /* box-shadow: 0 5px 10px var(--hover-color); */
}

.card-details button{
    font-size: 10px;
}

/* BOTTOM CARDS */
.bottom-card{
    margin-top: 70px;
}

.bottom-card-box{
    width: 115%;
    height: 200px;
    padding: 15px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card .bottom-card-details{
    display: flex;
    gap: 5px;
} 

.bottom-box-details {
    width: 35%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    /* box-shadow: 0 10px 35px var(--black-color); */

}

.bottom-box-details button{
    background: var(--black-color);
    color: var(--white-color);
    padding: 7px 10px;
    border-radius: 15px;
    margin-top: 25px;
    cursor: pointer;
}

/* transaction history */
.text-area{
    margin: auto;
    width: 650px;
    height: 120px;
    border: none;
    /* display: none; */
}
}



@media (max-width: 800px){
nav{
    height: 100vh;
    background: var(--white-color);
    width: 200px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 15px;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    max-width: 70%;
    position: absolute;
    left: 20%;
    justify-content: center;
    margin-bottom: 60px;
}

.cards{
    width: 130%;
    margin: 90px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
}

.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.bottom-box-details {
    width: 73%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 400px;
    height: 430px;
    border: none;
    /* display: none; */
}

.text-area p{
    margin-top: 20px;
    font-size: 20px;
}

/* popup */
.popup{
    width: 350px;
    height: 15%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

}


@media (max-width: 790px){
nav{
    height: 100vh;
    background: var(--white-color);
    width: 200px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 15px;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    /* position: fixed; */
    right: 10%;
    justify-content: center;
}

.cards{
    width: 130%;
    margin: 90px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
}

.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.bottom-box-details {
    width: 73%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 400px;
    height: 430px;
    border: none;
    /* display: none; */
}

/* popup */
.popup{
    width: 350px;
    height: 15%;
    background-color: var(--white-color);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -60%) scale(1);
}

}



@media (max-width: 677px){

nav{
    height: 100vh;
    background: var(--white-color);
    width: 200px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 15px;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    /* max-width: 100%; */
    position: absolute;
    left: 20%;
    justify-content: center;
    /* margin-bottom: 90px; */
}

.cards{
    width: 130%;
    margin: 120px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
}

.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.bottom-box-details {
    width: 73%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 350px;
    height: 420px;
    border: none;
    /* display: none; */
}

.text-area p{
    margin-right: 60px;
    margin-top: 20px;
    font-size: 15px;
}

/* popup */
.popup{
    width: 350px;
    height: 15%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -60%) scale(1);
}
}


/* @media (max-width: 540px){ */
@media (max-width: 630px){
nav{
    height: 100vh;
    background: var(--white-color);
    width: 100px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin: 0;
}

.dash-logo img{
    margin-left: 20px;
    width: 20px;
    height: 32px;
}

.dash-logo span{
    font-size: 0px;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    /* max-width: 100%; */
    position: absolute;
    left: 20%;
    justify-content: center;
    /* margin-bottom: 90px; */
}

.cards{
    width: 130%;
    margin: 120px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 300px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
}

.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.bottom-box-details {
    width: 73%;
    height: 130px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 250px;
    height: 420px;
    border: none;
    /* display: none; */
}

.text-area p{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
}

/* popup */
.popup{
    width: 300px;
    height: 12%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -60%) scale(1);
}
}


@media (max-width: 414px){
nav{
    height: 120vh;
    background: var(--white-color);
    width: 90px;
    margin-left: -20px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    /* flex-direction: column; */
    justify-content: left;
    align-items: center; 
    margin: 0px 0 0 21px;
}

.dash-logo img{
    margin-left: -5px;
    width: 30px;
    height: 42px;
}

.dash-logo span{
    font-size: 12px;
    display: none;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    position: absolute;
    left: 20%;
    justify-content: center;
}

.cards{
    width: 130%;
    margin: 190px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 600px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
} 

.bottom-box-details {
    width: 73%;
    height: 140px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 150px;
    height: 400px;
    border: none;
    /* display: none; */
}

/* popup */
.popup{
    width: 250px;
    height: 13%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -60%) scale(1);
}
}


@media (max-width: 330px){
nav{
    height: 120vh;
    background: var(--white-color);
    width: 90px;
    margin-left: -20px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    /* flex-direction: column; */
    justify-content: left;
    align-items: center; 
    margin: 20px 0 0 17px;
}

.dash-logo img{
    width: 30px;
    height: 42px;
}

.dash-logo span{
    font-size: 12px;
    display: none;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    position: absolute;
    left: 20%;
    justify-content: center;
}

.cards{
    width: 130%;
    margin: 190px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 550px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
} 

.bottom-box-details {
    width: 80%;
    height: 140px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 130px;
    height: 390px;
    border: none;
    /* display: none; */
}

.text-area p{
    margin-top: 20px;
    font-size: 17px;
}

/* popup */
.popup{
    width: 230px;
    height: 10%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -50%) scale(1);
}
}


@media (max-width: 280px){
nav{
    height: 120vh;
    background: var(--white-color);
    width: 90px;
    margin-left: -20px;
    overflow: hidden;
    /* box-shadow: 0 5px 10px var(--hover-color); */
    }

.dash-nav .dash-logo{
    background: var(--dash-color);
    display: flex; 
    /* flex-direction: column; */
    justify-content: left;
    align-items: center; 
    margin: 0px 0 0 20px;
}

.dash-logo img{
    width: 30px;
    height: 42px;
}

.dash-logo span{
    font-size: 12px;
    display: none;
}

.main{
    position: absolute;
    left: 20.6%;
    padding: 20px;
    width: 60%;
}

.main-top{
    position: absolute;
    left: 20%;
    justify-content: center;
}

.cards{
    width: 130%;
    margin: 190px 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.card-details{
    border: 2px solid var(--hover-color);
    text-align: center;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 30px;
    background: var(--white-color);
    /* box-shadow: 0 5px 10px var(--hover-color); */
}

.card-details button{
    font-size: 10px;
}


/* BOTTOM CARDS */
.bottom-card{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
}

.bottom-card-box{
    width: 130%;
    height: 550px;
    padding: 10px;
    margin-top: 10px;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--hover-color);
}


.bottom-card-box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.bottom-card-box ul li{
    margin: 10px;
    cursor: pointer;
    color: var(--hover-color);
}

.bottom-card-box ul .active{
    color: var(--black-color);
    border-bottom: 1px solid var(--black-color);
}

.bottom-card .bottom-card-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
} 

.bottom-box-details {
    width: 80%;
    height: 140px;
    padding: 20px 10px;
    border-radius: 10px;
    background: var(--button-color);
    margin: auto;
    /* box-shadow: 0 10px 35px var(--black-color); */
}

/* transaction history */
.text-area{
    margin: auto;
    width: 130px;
    height: 390px;
    border: none;
    /* display: none; */
}

.text-area p{
    margin-top: 20px;
    font-size: 17px;
}

/* popup */
.popup{
    width: 250px;
    height: 13%;
    background-color: var(--white-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-20%, -50%) scale(0.1);
    color: var(--black-color);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    z-index: 3;
}

.open-popup{
    visibility: visible;
    top: 18%;
    transform: translate(-50%, -50%) scale(1);
}
}