@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Page Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color: #fff;
    --black-color: #000000;
    --black-opaque-color: #000000bb;
    --hover-color: #0000ff98;
    --button-color: #ffe3ffC2;
    --button-color: #5c5eddc2;
    --toggle-color: #ffe3fff1;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}


nav{
    padding: 25px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .5s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--black-opaque-color);
}

nav:hover{
    background-color: var(--button-color);
}

nav:hover .menu li a{
    color:  var(--black-color);
}

nav:hover .logo h2{
    color: var(--black-color);
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.logo a{
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
}

.logo img{
    width: 60px;
}

.logo h2{
    font-size: 25px;
    color: var(--white-color);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu li{
    list-style: none;
    font-size: 17px;
    font-weight: 600px;
}

.menu li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: var(--hover-color);
    margin: auto;
    transition: .5s;
}

.menu li:hover::after{
    width: 80%;
}

.menu a{
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}

.iframe {
    display: none;
}

/* TOGGLE */

.toggle{
    display: none;
    font-size: 20px;
    color: var(--white-color);
}

/* TOGGLE END */

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sign a{
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--button-color);
    padding: 10px 15px;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.sign a:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
}


/* SECTION */

.section1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 180px 8%;
    padding-top: 280px;
    /* height: calc(100vh - 130px); */
}

.text{
    animation: slideLeft 1s linear forwards;
}

.section1 h2{
    max-width: 510px;
    margin: auto;
    font-size: 60px;
    color: var(--white-color);
}

.button{
    margin-top: 40px;
    animation: slideLeft 1s linear forwards;
}


.button a{
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--button-color);
    border-radius: 8px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px 35px;
    transition: .5s ease-in-out;
}

.button a:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
}

.load{
    display: none;
}

/* SECTIONS */
.section2{
    margin-top: 8%;
}

.section2 h2{
    text-align: center;
    font-size: 30px;
}

.section2 .title1 p{
    text-align: center;
    color: var(--button-color);
    text-decoration: underline;
}

.content1{
    margin-top: 70px;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.content1-row img{
    margin-top: 10px;
    width: 160px;
    border-bottom: 2px solid var(--black-color);
}

.content1-row{
    background-color: var(--button-color);
    border-radius: 10px;
    height: 340px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
    padding: 0 15px;
    margin-bottom: 25px;
}

.content1-row:hover{
    transform: translateY(-7px);
    box-shadow: 0 5px 10px var(--toggle-color);
}

.content1-row h3{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.content1-row p{
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

/* FEATURES */
.section3{
    margin-top: 10%;
}

.section3 h2{
    text-align: center;
    font-size: 30px;
}

.section3 .title2 p{
    text-align: center;
    color: var(--button-color);
    text-decoration: underline;
}

.content2{
    margin-top: 30px;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.content2-row img{
    width: 200px;
    border-bottom: 2px solid var(--black-color);
}

.content2-row{
    background-color: var(--button-color);
    border-radius: 10px;
    height: 350px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .5s;
    padding: 15px;
    margin-bottom: 25px;
}

.content2-row:hover{
    transform: translateY(-7px);
    box-shadow: 0 5px 10px var(--toggle-color);
}

.content2-row h3{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.content2-row p{
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

/* COMPANY */
.section4{
    margin-top: 10%;
}

.section4 h2{
    text-align: center;
    font-size: 30px;
}

.section4 .title3 p{
    text-align: center;
    color: var(--hover-color);
    text-decoration: underline;
}

.section4 .company-content p{
    text-align: justify;
    padding: 0 10%;
    margin-top: 20px;
    font-size: 17px;
}

.section4 .company-content span{
    font-weight: bold;
}

/* NEWSLETTER */
.section5{
    /* background: linear-gradient(rgba(18, 18, 19, 0.589),rgba(12, 12, 12, 0.486)), 
    url(/image/atm-card-2.jpg); */
    background-color: white;
    border: 2px solid var(--button-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin: 10% auto 0 auto;
    height: 30vh;
    border-radius: 15px;
}

.section5 .news-letter p{
    text-align: center;
    padding-top: 40px;
    color: var(--black-color);
    font-weight: bold;
    font-size: 20px;
}

.section5 .news-letter-form{
    text-align: center;
    margin-top: 20px;
}

.section5 .news-letter-form input{
    padding: 10px;
    width: 70%;
    outline: none;
    background-color: var(--button-color);
    border: none;

}

.section5 .news-letter-form input::placeholder{
    color: black;
}

.section5 .news-button{
    margin-top: 5px;
}

.section5 .news-letter-form button{
    padding: 10px 30px;
    background-color: var(--button-color);
    border: none;
}

.section5 .news-letter-form button:hover{
    padding: 10px 30px;
    background-color: var(--hover-color);
    color: var(--white-color);
    border: none;
}

/* FOOTER */
footer{
    position: relative;
    background: var(--button-color);
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 30vh;
}

.footer-logo{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: top;
    border-bottom: 5px solid var(--button-color);
}

.footer-logo img{
    width: 40px;
}

.footer-logo p{
    font-size: 20px;
}

/* SOCIAL MEDIA  */
footer .social{
    margin-top: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--button-color);
}

footer .social-p p{
    font-weight: bold;
}

footer .social-links{
    margin-top: 10px;
    margin-bottom: 13px;
}

footer .social-links i{
    font-size: 17px;
}

footer .social-links a{
    padding: 3px;
    color: var(--black-color);
    text-decoration: none;
}

footer .social-links i:hover{
    transform: translateY(-3px);
    color: var(--hover-color);
}

/* RESOURCES */
footer .resources{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 5px solid var(--button-color);
}

footer .resources p{
    font-weight: bold;
    margin-bottom: 10px;
}

footer .resources a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 15px;
}

footer .resources a:hover{
    color: var(--hover-color);
    text-decoration: underline;
}

/* ALL RIGHTS RESERVED */

footer .rights-reserved{
    margin-top: 20px;
    text-align: center;
}

footer .rights-reserved .email{
    font-weight: bold;
}

footer .rights-reserved p{
    font-weight: 300;
    padding: 3px;
}

footer .top{
    color: var(--black-color);
    font-size: 30px;
    position: absolute;
    right: 2%;
    bottom: 0;
}



/* MEDIA QUERY FOR MAX WIDTH OF 830PX */

@media (max-width: 830px) {

.container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 0;
    animation: slide 90s infinite;
}

.nav{
    padding: 25px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-color);
    transition: background-color .5s;
}

nav:hover{
    background-color: none;
}

nav:hover .menu li a{
    color:  none;
}

nav:hover .logo h2{
    color: none;
}

.menu li:hover::after{
    width: 70%;
    margin: 0;
}

.logo h2{
    font-size: 25px;
    color: var(--black-color);
}

.nav-links{
    display: none;
    margin-top: 115px;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: calc(100vh - 115px);
    background-color: var(--toggle-color);
    z-index: 2;
    overflow-x: hidden;
    transition: all 12s ease-in;
}

.menu ul{
    display: inline-block;
    padding: 30px;
}

.menu ul li{
    padding: 10px;
}

.menu ul li a{
    color: var(--black-color);
}

.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
    gap: 10px;
}

.sign a{
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--button-color);
    padding: 10px 15px;
    transition: .5s ease-in-out;
    border-radius: 8px;
    border: 1px solid var(--black-color);
}

.sign a:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
}

.toggle{
    display: block;
    color: var(--black-color);
    transition: all .5s;
}

.toggle .menu_open{
    display: block;
    transition: all .5s;
}

.toggle .menu_close{
    display: none;
    transition: .5s ease-in;
}


.toggle:hover{
    transform: scale(1.1);
}

.section1{
    /* padding: 200px 22%; */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    height: 100vh;
}

.section1 h2{
    max-width: 530px;
    font-size: 50px;
    color: var(--white-color);
}

.button a{
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--button-color);
    border-radius: 8px;

    padding: 15px 35px;
    transition: .5s ease-in-out;
}

.content1{
    margin-top: 30px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content2{
    margin-top: 30px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer{
    position: relative;
    background: var(--button-color);
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    height: 65vh;
}
}

/* MEDIA QUERY FOR MAX WIDTH OF 340PX */

@media (max-width: 375px) {

    .container{
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
        animation: slide 90s infinite;
    }

    .nav{
        padding: 25px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .5s;
    }

    .logo img{
        width: 40px;
    }


    .logo a h2{
        font-size: 20px;
    }

    .sign{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    .section1{
        /* margin-top: 40%;
        padding: 70px 20%; */
        text-align: center;
        padding-top: 280px;
    }

    .section1 h2{
        max-width: 500px;
        font-size: 45px;
        color: var(--white-color);
    }

    .button a{
        text-decoration: none;
        color: var(--black-color);
        background-color: var(--button-color);
        border-radius: 8px;

        padding: 15px 35px;
        transition: .5s ease-in-out;
    }

    footer{
        height: 68vh;
    }

    .footer-logo{
        padding: 0px;
    }
}


/* ANIMATIONS */

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
