body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #5c5eddc2;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.logo a{
    text-decoration: none;
}

.logo:hover{
    cursor: pointer;
}

.logo img{
    width: 60px;
}

.logo h2{
    font-size: 25px;
    color: var(--white-color);
}
.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="password"]{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload {
    text-align: center;
}

#image-preview {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden; /* Ensures content doesn't overflow the circular container */
    border: 2px solid #ccc; /* Optional: Add border */
}

#image-preview img {
    height: auto;
    width: 100%; /* Ensures the image fills the container */
    display: block; /* Prevents extra space at the bottom */
}

#image-upload {
    display: none;
}

#upload-label {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}
.error-message {
    color: rgba(220, 26, 26, 0.906); 
    font-size: 14px; 
    margin-top: 5px; 
}
.image-container {
    position: relative;
}

#editimage {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 340px; /* Adjust as needed */
}
