{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-Choice Bank || Login Page</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="icon" href="{% static 'Img/topicon.png' %}">
</head>
<body>

    <header class="container">
        <nav class="nav">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'Img/logo.png' %}" alt="logo"></a> 
                <a href="{% url 'home' %}"><h2>Top-Choice Bank</h2></a>
            </div>

            <div class="toggle">
                <i class="fa-solid fa-bars menu_open"></i>
                <i class="fa-solid fa-xmark menu_close"></i>
            </div>

            <div class="nav-links">
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'home' %}#features">Features</a></li>
                        <li><a href="{% url 'home' %}#company">Company</a></li>
                        <li><a href="{% url 'home' %}#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <form class="form" method="POST">
            {% csrf_token %}
            <div class="login-top-text">
                <h2>WELCOME BACK!</h2>
                <p>We are happy to have you back at <br> Top-Choice Bank.</p>
            </div>
            <h2 class="login-error"></h2>
            {% if messages %}
            <div id="error-message" class="text-danger">
                {% for message in messages %}
                    <b class="login-error">{{ message }}</b>
                {% endfor %}
            </div>
            {% endif %}
            <h2 class="login">LOGIN</h2>

            <div class="input-email">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="email" placeholder="Email" autocomplete="off">
                <span class="email-granted"></span>
                <span class="email-error"></span>
            </div>

            <div class="input-password">
                <label for="password">Password</label>
                <input type="password" class="pass" name="password" id="password" placeholder="Password" autocomplete="off">
                <i class="fas fa-eye open-eye"></i>
                <i class="fas fa-eye-slash close-eye"></i>
                <span class="pass-granted"></span>
                <span class="pass-error"></span>
            </div>
            
            <button type="submit" id="submit">LOGIN</button>
                
            <div class="register-bottom-text">
                <p>Don't have an account? <span><a href="{% url 'register' %}">REGISTER</a></span> </p>
            </div>
        </form>
    </header>
    
    <script src="{% static 'scripts/login.js' %}"></script>



</body>
</html>
